@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Oxygen&family=Oxygen+Mono&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.polka {
  background-image: 
    radial-gradient(rgb(97, 97, 97) 1%, transparent 10%);
  background-position: 10px 10px;
  background-size: 40px 40px;
  background-color: #050505;
}

/* body {
  --dot-bg: rgb(0, 0, 34);
  --dot-color: rgb(108, 108, 108);
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
} */

body{
  color: white;
}

@layer base {
  html {
    font-family: "Oxygen", system-ui, sans-serif;
  }
}

/* .footer-section{
  height: 30vh;
  width: 100%;
  background-image: url(./assets/wallpaper.png);
  background-color: #000;
  background-size:contain;
  background-repeat: repeat-x;
} */